@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600;700&display=swap");
@import "tailwindcss";

* {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

