:root {
  --electric-border-color: #dd8448;
  --electric-light-color: oklch(from var(--electric-border-color) l c h);
  --gradient-color: oklch(from var(--electric-border-color) 0.3 calc(c / 2) h / 0.4);
  --color-neutral-900: oklch(0.185 0 0);
}

.gold-card-container {
  padding: 2px;
  border-radius: 24px;
  position: relative;
  background: linear-gradient(-30deg, var(--gradient-color), transparent, var(--gradient-color));
  background-color: rgb(15, 15, 15);
}

.gold-card-border {
  border: 2px solid rgba(221, 132, 72, 0.5);
  border-radius: 24px;
  position: relative;
  width: 100%;
  height: 100%;
}

.gold-card-glow-1 {
  border: 2px solid rgba(221, 132, 72, 0.6);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(1px);
  pointer-events: none;
}

.gold-card-glow-2 {
  border: 2px solid var(--electric-light-color);
  border-radius: 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(4px);
  pointer-events: none;
}

.gold-card-overlay-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 24px;
  opacity: 1;
  mix-blend-mode: overlay;
  transform: scale(1.1);
  filter: blur(16px);
  background: linear-gradient(-30deg, white, transparent 30%, transparent 70%, white);
  pointer-events: none;
}

.gold-card-overlay-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 24px;
  opacity: 0.5;
  mix-blend-mode: overlay;
  transform: scale(1.1);
  filter: blur(16px);
  background: linear-gradient(-30deg, white, transparent 30%, transparent 70%, white);
  pointer-events: none;
}

.gold-card-background-glow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 24px;
  filter: blur(32px);
  transform: scale(1.05);
  opacity: 0.2;
  z-index: -1;
  background: linear-gradient(-30deg, var(--electric-light-color), transparent, var(--electric-border-color));
  pointer-events: none;
}
